@using XX_PhotoPrint.Service
@using SL.Util
@using System.Web.Script.Serialization
@{
    RequestUtil req = new RequestUtil();
    if (Request.HttpMethod == "POST")
    {
        Layout = null;

        return;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";

    int workId = Convert.ToInt32(ViewBag.RouteData["id"]);

    var Item = ProductService.GetByID(workId);

    if (Item == null)
    {
        Output.Write("该商品不存在");
        return;
    }

    IList<dynamic> Colors = Item.Colors;
    IList<dynamic> Styles = Item.Styles;
    IList<dynamic> Size = Item.Size;
    IList<dynamic> StyleColorPic = Item.StyleColorPic;

    if (Colors == null || Size == null || StyleColorPic == null)
    {
        Output.Write("商品信息不完整");
        return;
    }
}
<div class="main prodwrap clearfix js_form">
    <div class="prod_preview"><img src="@StyleColorPic.First().Picture" /></div>
    <div class="prod_main_info">
        <div class="priceinfo"><span class="saleprice">￥@Item.Price.ToString("0.##")</span></div>
        <h1>@Item.WorkName@Item.ProductName</h1>
        <div class="character">
            <div class="text">T-SHIRT可与皮肤直接接触</div>
            <div class="pic"></div>
        </div>
        <ul class="prod_selector">
            <li><span>数量</span> <input class="num js_qty" data-qty='1' value="1" /></li>
            <li><span>颜色</span> <span class="color">
                @for (int i = 0; i < Colors.Count; i++)
                {
                    var color = Colors[i];
                    if (i == 0)
                    { 
                    <i class="curr" data-id="@color.ColorID" style="background-color:@(color.ColorCode)"></i>
                    }
                    else
                    {
                    <i data-id="@color.ColorID" style="background-color:@(color.ColorCode)"></i>
                    }
                }
            </span></li>
            <li><span>尺码</span><span class="size">
                @for (int i = 0; i < Size.Count; i++)
                {
                    var item = Size[i];
                    if (i == 0)
                    { 
                    <i class="curr" data-id="@item.SizeID">@item.SizeName</i>
                    }
                    else
                    {
                    <i data-id="@item.SizeID">@item.SizeName</i>
                    }
                }
            </span></li>
        </ul>
        <ul class="img_smallist clearfix">
            @for (var i = 0; i < StyleColorPic.Count; i++)
            {
                var item = StyleColorPic[i];
                if (i == 0)
                {
                <li class="curr"><img src="@item.Picture" /></li>
                }
                else
                { 
                <li><img src="@item.Picture" /></li>
                }
            }
        </ul>
        <div class="actions"><input class="js_color_id" value="@Colors.First().ColorID" type="hidden" />
            <input class="js_size_id" value="@Size.First().SizeID" type="hidden" />
            <input class="js_product_id" value="@Item.ProductID" type="hidden" />
            <input class="js_work_id" value="@Item.WorkID" type="hidden" />
            <div class="btn_dlg_l js_create"><i class="ico"></i>重新创作</div>
            <div class="btn_dlg_r js_addtocart"><i class="ico"></i>加入购物车</div>
        </div>
    </div>
</div>
<div class="main prodwrap">
    <div class="bigtitle">
        <div class="cn">产品详情</div>
        <div class="en">PRODUCT DETAILS</div>
    </div>
    <div class="prod_details">@(new MvcHtmlString(Item.Content))</div>
</div>
<div class="main prodwrap">
    <div class="bigtitle">
        <div class="cn">你可能喜欢其他产品</div>
        <div class="en">OTHER PRODUCTS YOU MIGHT LIKE</div>
    </div>
    <div class="other_list">
        <ul class="clearfix">
            <li><a href=""><p class="img"><img src="" /></p>
                <p class="name">名称</p>
            </a>
            </li>
            <li><a href=""><p class="img"><img src="" /></p>
                <p class="name">名称</p>
            </a>
            </li>
            <li><a href=""><p class="img"><img src="" /></p>
                <p class="name">名称</p>
            </a>
            </li>
        </ul>
    </div>
</div>
<script>
    seajs.use(['$','lib/util','sl/view','sl/validation','extentions/qty'],function ($,util,View,Validation,qtyEvents) {
        var product_id=$('.js_product_id').val(),
            work_id=$('.js_work_id').val();

        var ProductView=View.extend({
            events: $.extend({
                'click .js_addtocart': 'addToCart'
            },qtyEvents),

            isLogining: false,

            addToCart: function () {
                var that=this;
                if(that.isLogining) return;
                that.isLogining=true;

                that.$('.js_addtocart').addClass('disabled').html('<i class="ico"></i>请稍候...');

                $.ajax({
                    url: '/json/shop/addShoppingCart',
                    type: 'POST',
                    data: {
                        WorkID: work_id,
                        ProductID: product_id,
                        Qty: $('.js_qty').val(),
                        ColorID: $('.js_color_id').val(),
                        SizeID: $('.js_size_id').val(),
                        UseDefault: true
                    },
                    dataType: 'json',
                    success: function (res) {
                        if(res.success) {
                            if (window.confirm('加入购物车成功！是否去购物车结算？')){
                                location.href="/cart"
                            }

                        } else if(res.returnCode=='0000') {
                            location.href='/login.html?r='+encodeURIComponent(location.href);
                        } else {
                            alert(res.msg);
                        }
                    },
                    error: function () {
                        alert('网络错误');
                    },
                    complete: function () {
                        that.isLogining=false;
                        that.$('.js_addtocart').removeClass('disabled').html('<i class="ico"></i>加入购物车');
                    }
                });

            },
            initialize: function () {
                var that=this;

            }
        });

        new ProductView('.js_form');

    });
</script>
