@using XX_PhotoPrint.Service
@{
    Layout = null;

    int total;
    var products = ProductService.Search(null, 1, 10, out total);
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/theme/style.css" rel="Stylesheet" />
    <!--[if lt IE 9]><link href="/theme/ie.css" rel="Stylesheet" /><![endif]-->
    <script src="/js/seajs/sea.js"></script>
    <script>
        seajs.config({
            alias: {
                "jquery": "lib/jquery-1.7.2.min",
                "$": "lib/jquery-1.7.2.min"
            }
        });
    </script>
</head>
<body>
    <div class="m_header">
        @Html.Partial("_Header")
    </div>
    <div class="main">
        <div class="m_recommend">
            <ul class="clearfix">
                @for (var i = 0; i < products.Count; i++)
                {
                    var item = products[i];
                    <li><a class="view" href="/item/@(item.WorkID).html"><span><b>￥@item.Price</b><em>查看</em></span></a>
                        <p class="img"><a href="/item/@(item.WorkID).html"><img src="@item.Picture" /></a></p>
                        <p class="con"><a href="/item/@(item.WorkID).html">@item.WorkName@item.ProductName</a></p>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="m_appwrap">
        <div class="m_app"><a class="m_appdl_btn" href="/"></a></div>
    </div>
    <div class="m_learn clearfix">
        <div class="item"><a href="/"></a></div>
        <div class="item last"><a href="/"></a></div>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
